@import 'reset'

rounded(radius)
	border-radius radius
	-moz-border-radius radius
	-webkit-border-radius radius

shadow(x = 10px, y = 10px, blur = 5px, color = #888)
	-moz-box-shadow x y blur color
	-webkit-box-shadow x y blur color
	box-shadow x y blur color

body
	background #00A7D9
	font-family 'Lato', sans-serif
	color #FFF

header.main
	display block
	width 364px
	height 370px
	position fixed
	right 50%
	bottom 50%
	margin 0 0 -100px
	h1
		width 308px
		height 97px
		display block
		overflow hidden
		float right
		margin 0 17px 20px 0
	&:before
		content url(../img/logo.svg)
		display block
	h2
		font-size 18px
		font-weight normal
		text-align right
		margin-right 17px
	nav
		position absolute
		bottom 0
		ul
			list-style none
			li
				display inline-block
				margin-left 16px
				height 110px
				a
					color #FFF
					text-decoration none
					display block
					width 100%
					height 100%
					position relative
					span
						display block
						width 100%
						height 30px
						rounded(15px)
						background-color #137098
						position absolute
						bottom 0
						text-indent -10000px
						background-image url(../img/nav_sprites.svg)
						background-repeat no-repeat
			&:first-child
				margin-left 0
				width 128px
				span
					background-position 28px center
				&:after, &:before
					display block
					width 60px
					height 40px
					background #174C6D
					border 10px solid #FFF
					content ''
					position absolute
					top -100px
					margin 0 auto
				a
					span:before
						-webkit-transition all 1s ease-in-out
						-moz-transition all 1s ease-in-out
						-o-transition all 1s ease-in-out
						-ms-transition all 1s ease-in-out
				&:hover
					span:after
						shadow(0, 1px, 3px, rgba(0,0,0, 0.5))
						// -webkit-transition: all 0.5s ease-in;
					span:before
						shadow(0, 1px, 3px, rgba(0,0,0, 0.5))
						-moz-transform rotate(7deg)
  						-webkit-transform rotate(7deg)
			&:last-child
				width 114px
				span
					background-position -218px center
			li:nth-child(2)
				width 80px
				span
					background-position center