body {
  background: #00a7d9;
  font-family: 'Lato', sans-serif;
  color: #fff;
}
header.main h1 {
  text-indent: -10000px;
  display: block;
  width: 100%;
  height: 97px;
  background-image: url("../img/logo-cut.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 240px) {
  header.main h1 {
    width: 315px;
    height: 97px;
    background-position: right 8px;
    position: relative;
  }
  header.main h1:before {
    display: block;
    content: '';
    width: 75px;
    height: 60px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  header.main h1:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 37px #004d6e;
    border-right: solid 37px transparent;
    border-bottom: 0;
    position: absolute;
    top: 60px;
    left: 38px;
  }
}
